/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden; */
}

li::marker {
  content: none; /* 또는 content: ""; */
}

a {
    /* text-decoration: none; */
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --sidebar-size: 370px;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #d8d8d869;
    --sidebar-color: #f9fafc;
    --primary-color: #00bcd4;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #fff;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: var(--sidebar-size);
    /* padding: 10px 14px; */
    background: var(--sidebar-color);
    /* background: var(--primary-color); */
    /* z-index: 100; */
    /* overflow-y: hidden; */
    /* color:#555; */
}

/* ===== Reusable code - Here ===== */

.sidebar header  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 60px 0;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.sidebar header h2 {
    font-weight: 500;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    /* background-color: red; */
    color: bal;
}

.nav-link a {
    color: black;
}

.menu-bar .nav-link a:visited, a:active{
  /* margin: auto 0; */
  color: black;
}

.menu-bar .topRank {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.menu-bar .nav-link .city {
  width: 70px;
  text-align: right;
}
.menu-bar .nav-link .ward {
  width: 120px;
  text-align: right;
}

.menu-bar .rankInfo{
  width: 130px;
  text-align: right;
}

.content-box {
    width: 100%; 
    display: flex;
    
}

#content {
    position: fixed;
    top: 0;
    left: var(--sidebar-size);
    width: calc(100vw - var(--sidebar-size));

    background: var(--sidebar-color);
} 

.content-wrap {
    display: flex;
}

.state-graph {
    height: 400px;
    /* background-color: red; */
}

svg path {
    fill-opacity: 0.8;
    /* fill: #695CFE; */
    stroke: #eee;
    stroke-width: 1;
}
svg path:hover {
    fill: rgb(255, 127, 80);
    transition: 0.6ms;
    cursor: pointer;
}

.content-map-header {
    font-size: larger;
    padding-top: 20px;
    padding-left: 20px;
}

.content-map-header strong{
    color: #0d6594;
    font-weight: bold;
}

#areaMap {
    margin-left: 20px;
    width: 720px;
}

.content-graph {
    width: 100%;
}

/* 그래프 */

.update-info {
    text-align: right;
    line-height: 30px;
    margin-right: 25px;
    margin-bottom: 12px;
}

.stateList {
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content:space-around;
    text-align: center;
}

.stateList li {
    flex: 0 0 calc(33.33%);
    border-left: 1px solid #ddd;
}

.state-graph {
    
}

#myChart{
    
}




/* ================================== */
.stat-tab {
    display: flex;
    justify-content: end;
    margin-right: 30px;
}

.stat-tab li {
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
}

.stat-tab li a {
    color: #727891;
    text-decoration: none;
}

.stat-tab li a.on {
    color: #fc6c6c;
    text-decoration: underline;
}


/* .stat-tab li a.on::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #fc6c6c;
} */

.home {
    position: absolute;
    top: 580px;
    left: var(--sidebar-size);
    height: 100vh;
    width: calc(100% - var(--sidebar-size));
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar .menu {
  
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
    opacity: 0.7;
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
